body {
    width: 100vw;
    margin: 0px;
}
p {
    margin-left: 3em;
}
h2 {
    color: #468189;
    margin-left: 2em;
}

h3 {
    color: #468189;
    margin-left: 2em;
}

h4 {
    color: #468189;
    margin-left: 2em;
}

#content {
    margin-left: 15px;
    width: auto;
}

.nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 0px;
    background-color: #3d3522;
}

.nav-item {
    text-decoration: none;
    list-style-type: none;
    font-size: larger;
    color:  #c7cedb;
}

#composers-wrapper {
    display: flex;
    width: auto;
    flex-wrap: nowrap;
    flex-direction: column;
}


.composer {
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
    max-width: 80%;
}

#songs-wrapper {
    display: flex;
    width: auto;
    flex-wrap: nowrap;
    flex-direction: column;
}


.song {
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
    max-width: 80%;
}

#measures-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 10px;
    margin-right: 10px;
}

.measure {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 2px solid black;
    margin: 5px 2px 5px 2px;
}
